/* CSS Custom Properties Definitions */

:root {
  --maxWidth-full: "100%";
  --maxWidth-wrapper: 560px;

  --fontFamily-sans: "Source Sans Pro", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-serif: "Source Serif Pro", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-sans);
  --font-heading: var(--fontFamily-serif);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #1478af;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-background: #fcfeff;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  letter-spacing: -0.025em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.global-wrapper {
  margin: 0 64px;
  max-width: var(--maxWidth-wrapper);
  padding: 132px 0;
}

.main-heading {
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
  margin: 0;
  background: -webkit-linear-gradient(#1887c6, #0f5379);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  display: flex;
  margin: 64px 0;
}

.bio p {
  margin: 30px 0;
}

.section-heading {
  font-size: 36px;
}

@media screen and (max-width: 480px) {
  .global-wrapper {
    margin: 0 32px;
  }

  .main-heading {
    font-size: 58px;
    line-height: 58px;
  }

  .bio {
    font-size: 18px;
    line-height: 26px;
  }
}

.post-list {
  list-style: none;
  padding-inline-start: 0;
  margin-top: 48px;
}

.post-list-item {
  margin: 32px 0;
}

.post-list-item-heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin: 0;
}

.post-list-item-description {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.post-list-item img {
  margin: 0 -32px;
  width: 650px;
  height: 382px;
  border: 1px solid #1478af;
}

.blog-post p {
  letter-spacing: -0.2px;
  font-size: 18px;
  line-height: 26px;
}

.blog-post li {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}

hr {
  margin: 64px 0;
}

.header-link-home {
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 16px;
}
